@import url("./header.css");
@import url("./footer.css");

@font-face {
  font-family: Golos;
  src: url(../fonts/static/GolosText-Regular.ttf);
}

.guarante-content {
  background-color: #fff;
  max-width: 592px;
  width: 100%;
}

.guarante-content h1 {
  max-width: 592px;
  width: 100%;
  font-family: Golos;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
}

.guarante-content h3 {
  max-width: 592px;
  width: 100%;
  font-family: Golos;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 24px;
}

.guarante-content p {
  max-width: 592px;
  width: 100%;
  font-family: Golos;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 60px;
}
