@import url("./header.css");
@import url("./footer.css");

@font-face {
  font-family: Golos;
  src: url(../fonts/static/GolosText-Regular.ttf);
}

.container {
  max-width: 1240px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.guarantee-content {
  background-color: #fff;
  max-width: 592px;
  width: 100%;
}

.guarantee-content h1 {
  font-family: Golos;
  font-size: 40px;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
  color: #161616;
}

.guarantee-content h3 {
  font-family: Golos;
  font-size: 24px;
  font-weight: bold;
  line-height: 28px;
  letter-spacing: 0.01em;
  text-align: left;
  margin-bottom: 24px;
  color: #161616;
}

.guarantee-content p {
  font-family: Golos;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 60px;
  color: #161616;
}

@media (max-width: 1024px) {
  .guarantee-content {
    background-color: #fff;
    max-width: 463px;
    width: 100%;
  }

  /* .guarantee-content h1 {
    font-family: Golos;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
    color: #161616;
  } */

  /* .guarantee-content h3 {
    font-family: Golos;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 24px;
    color: #161616;
  } */

  .guarantee-content p {
    /* font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left; */
    margin-bottom: 40px;
    /* color: #161616; */
  }
}

@media (max-width: 976px) {
  .guarantee-content {
    background-color: #fff;
    max-width: 463px;
    width: 100%;
  }

  /* .guarantee-content h1 {
    font-family: Golos;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
    color: #161616;
  }

  .guarantee-content h3 {
    font-family: Golos;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 24px;
    color: #161616;
  } */

  .guarantee-content p {
    /* font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left; */
    margin-bottom: 40px;
    /* color: #161616; */
  }
}

@media (max-width: 768px) {
  .guarantee-content {
    background-color: #fff;
    max-width: 450px;
    width: 100%;
  }

  /* .guarantee-content h1 {
    font-family: Golos;
    font-size: 40px;
    font-weight: bold;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 60px;
    color: #161616;
  }

  .guarantee-content h3 {
    font-family: Golos;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 24px;
    color: #161616;
  } */

  .guarantee-content p {
    /* font-family: Golos;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left; */
    margin-bottom: 40px;
    /* color: #161616; */
  }
}

@media (max-width: 480px) {
  .guarantee-content {
    background-color: #fff;
    max-width: 288px;
    width: 100%;
  }

  .guarantee-content h1 {
    font-family: Golos;
    font-size: 24px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
    color: #161616;
  }

  .guarantee-content h3 {
    font-family: Golos;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 12px;
    color: #161616;
  }

  .guarantee-content p {
    font-family: Golos;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 32px;
    color: #161616;
  }
}
